<form action= "<%= users_url %>" method = "POST">
<input type="hidden" name = "authenticity_token" value = "form_authenticity_token">

<label>
    <input name = "user[username]" value = "">
</label>

<label>
    <input name = "user[username]" value = "">
</label>
    <button type = "submit">Sign Up</button>

</form>
